:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  --color: rgba(255, 255, 255, 1);
  --main-color: rgba(201, 138, 64, 1);
  --main-transition: 0.5s;
  --orange-color: rgba(253, 186, 16, 1);
}
* {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 900vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.mySwiper {
  padding: 0 3rem;
  padding-bottom: 3rem;
}
ul {
  list-style: none;
}
input {
  background-color: #ffd39f;
  color: var(--main-color);
  margin-bottom: 16px;
  display: block;
  font-size: 20px;
  border: none;
  width: 100%;
  outline: none;
  padding: 30px 25px;
  width: 370px;
  height: 10px;
  border-radius: 25px;
}
input::placeholder {
  color: var(--main-color);
  font-weight: 600;
  font-size: 16px;
}
